app:
  port: ":8080"
  environment: "development"

postgres:
  host: "127.0.0.1"
  port: "5432"
  username: "postgres"
  password: "Terserah123"
  dbname: "mkp_ticket"
  idleconnect: 10
  maxconnect: 100
  lifeconnect: 300

logger:
  level: 6
  path: "./logs/"

jwt: 
  secret: "TERSErah0987612345"
  expire: 24